{% load static %}

<link rel="stylesheet" type="text\css" href="{%static 'styles.css'%}">
<!DOCTYPE html>
<html>
<head>

    <title>Sensors</title>
</head>
<body>
<h1>Path optimiser</h1>


{%if all_sensors %} 
    <ul>
        {% for status in all_sensors %}
            <li><a href="/sensor_status/ {{status.id}}/">{{status.location}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>There are no sensors connected to the database</h3>
{% endif %}
    <p>The graph below contains only random generated dummy data</p>
    {{ graph_div|safe }}
</body>
</html>


